*{
    margin: 0;
    padding: 0;
}
.main-div{
    width: 75%;
    margin: auto;
    text-align: center;
}

h2{
    background: rgb(33, 19, 114);
    color: #fff;
}
.banner {
    background: #000;
    color: #fff;
}
.banner p{
    background: green;
}
.about {
    background: rgb(138, 82, 82);
}
.service h2{
    background-color: rgb(49, 116, 60);
}
.service-item{
    margin: 10px 0;
}
.service-item h4{
    margin-bottom: 5px;
}
input{
    display: inherit;
    margin: 10px auto;
}
textarea {
    display: inherit;
    margin: 10px auto;
    margin-left: 433px;
}
button {
    display: ;
    margin-left: -100px;
}